<h1>Iniciar sesion</h1>

<form [formGroup]="formulario" (ngSubmit)="login()">
    <div class="container-fluid backGround">
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario" >
                <mat-error *ngIf="formulario.get('usuario')?.touched && formulario.get('usuario')?.errors?.['required']">Ingrese el nombre de usuario</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Contrasena</mat-label>
                <input type="password" matInput formControlName="contrasena">
                <mat-error *ngIf="formulario.get('contrasena')?.touched && formulario.get('contrasena')?.errors?.['required']">Ingrese la contraseña</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <button type="submit" mat-raised-button color="primary" [disabled]="formulario.invalid">Entrar</button>
        </div>
    </div>

</form>