<!-- <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Legajo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dni</th>
        <th scope="col">Curso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of ESTUDIANTES">
        <th scope="row">{{ estudiante.legajo }}</th>
        <td>{{ estudiante.nombre }}</td>
        <td>{{ estudiante.apellido }}</td>
        <td>{{ estudiante.dni }}</td>
        <td >{{ estudiante.curso }}
          <span [ngClass]="estudiante.curso === 'Phyton' ? 'bg-primary' : 'bg-danger'" class="badge rounded-pill">·</span>
        </td>
      </tr>
    </tbody>
</table> -->
<div class="d-flex justify-content-center w-100">
    <button mat-raised-button color="primary" (click)="openDialog()">Agregar Alumno</button>
</div>
<div class="row">
  <table mat-table [dataSource]="dataSource" class="col-md-12">
      <!-- 'nombre' -->
      <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef appCabeceraLetra>Nombre Completo</th>
          <td mat-cell *matCellDef="let alumno">{{ alumno | nombreApellido }}</td>
      </ng-container>

      <!-- 'apellido' -->
      <!--<ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef>Apellido</th>
          <td mat-cell *matCellDef="let alumno">{{ alumno.apellido }}</td> 
      </ng-container> -->

      <!-- 'fechaFin' -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef appCabeceraLetra>DNI</th>
        <td mat-cell *matCellDef="let alumno">{{ alumno.dni }}</td>
    </ng-container>

      <!-- 'profesor' -->
      <ng-container matColumnDef="curso">
          <th mat-header-cell *matHeaderCellDef appCabeceraLetra >Curso</th>
          <td mat-cell *matCellDef="let alumno">{{ alumno.curso }}</td>
      </ng-container>

      <!-- 'acciones' -->
      <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef appCabeceraLetra>Acciones</th>
          <td mat-cell *matCellDef="let alumno">
              <button mat-icon-button>
                  <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="borrar(alumno.id)">
                  <mat-icon>delete</mat-icon>
              </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
  </table>
</div>
<br>
