.alumno-exito{
    background-color: greenyellow;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
 
.alumno-error{
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
 
.alumno-menor{
    background-color: blue;
    color: white;
    border-radius: 20px;
    border-color: orange;
 }