<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Legajo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Dni</th>
        <th scope="col">Curso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of ESTUDIANTES">
        <th scope="row">{{ estudiante.legajo }}</th>
        <td>{{ estudiante.nombre }}</td>
        <td>{{ estudiante.apellido }}</td>
        <td>{{ estudiante.dni }}</td>
        <td >{{ estudiante.curso }}
          <span [ngClass]="estudiante.curso === 'Phyton' ? 'bg-primary' : 'bg-danger'" class="badge rounded-pill">·</span>
        </td>
      </tr>
    </tbody>
</table>
