<div class="container-fluid text-center" mat-dialog-content>
    <div class="row justify-content-md-center">
        <form [formGroup]="formulario" class="backGround">
            
            <div class="row justify-content-md-center">
                <div class="col-md-5">
                    <mat-form-field appearance="fill" >
                        <mat-label>Nombre del usuario</mat-label>
                        <input matInput formControlName="nombre" class="colorFont">
                    </mat-form-field>

                    
                </div>
                <div class="col-md-5">
                    <mat-form-field appearance="fill" class="fill">
                        <mat-label>Contraseña del usuario</mat-label>
                        <input matInput formControlName="contrasena" class="colorFont">
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                        <mat-slide-toggle formControlName="admin"> Administrador</mat-slide-toggle>
                </div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-md-12">

                    <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled]="formulario.invalid">Actualizar Usuario</button>
                    <button mat-button (click)="cancelar()">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
    
</div>