<!-- <nav>
  <app-navbar></app-navbar>
</nav>

<div class="row">
  <app-toolbar class="col-2 my-2"></app-toolbar>
  <app-contenido class="col-8 my-2"></app-contenido>
</div> -->

<!-- <app-padre></app-padre> -->

<!-- <div class="grid-container">
  <app-toolbar class="grid-header"></app-toolbar>
  <app-navbar class="grid-menu"></app-navbar>
  <app-contenido class="grid-student"></app-contenido>
</div> -->

<div class="content-fluid text-center">
  <div class="row">
      <app-nav-bar></app-nav-bar>
  </div>
  <div class="row">
      <div class="col-md-2 col-4 col-xl-1">
          <app-side-menu></app-side-menu>
      </div>
      <div class="col-md-10 col-8 col-xl-11">
          <router-outlet></router-outlet>
      </div>
  </div>
</div>