.example-container {
  width: 180px;
  height: 90vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}

.example-sidenav{
  background-color: rgba(3, 43, 151, 0.822);
  color: beige;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
} 

li:hover{
  background-color: white;
}