.example-container {
  width: 180px;
  height: 90vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}