<div class="container">
    <div class="row">
        <div class="col">
            <h1>ALTA USUARIO</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="formulario" (ngSubmit)="submitForm()">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" [ngClass]="{'form-control': true, 'is-invalid': formulario.get('nombre')?.errors && formulario.get('nombre')?.touched}" formControlName="nombre" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="formulario.get('nombre')?.errors?.['required'] && formulario.get('nombre')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" [ngClass]="{'form-control': true, 'is-invalid': formulario.get('apellido')?.errors && formulario.get('apellido')?.touched}" formControlName="apellido" placeholder="Apellido" aria-label="Apellido" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="formulario.get('apellido')?.errors?.['required'] && formulario.get('apellido')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" [ngClass]="{'form-control': true, 'is-invalid': formulario.get('edad')?.errors && formulario.get('edad')?.touched}" formControlName="edad" placeholder="Edad" aria-label="Edad" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="formulario.get('edad')?.errors?.['min']">Debes tener 18 años o más</small>
                                <small *ngIf="formulario.get('edad')?.errors?.['required'] && formulario.get('edad')?.touched">El campo es requerido</small>
                                <small *ngIf="formulario.get('edad')?.errors?.['errorEdad'] && formulario.get('edad')?.touched">La edad debe ser un número</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" [ngClass]="{'form-control': true, 'is-invalid': formulario.get('email')?.errors && formulario.get('email')?.touched}" formControlName="email" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched">El campo es requerido</small>
                                <small *ngIf="formulario.get('email')?.errors?.['pattern'] && formulario.get('email')?.touched">El formato no es el correcto</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="text" [ngClass]="{'form-control': true, 'is-invalid': formulario.get('username')?.errors && formulario.get('username')?.touched}" formControlName="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="formulario.get('username')?.errors?.['required'] && formulario.get('username')?.touched">El campo es requerido</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="password" [ngClass]="{'form-control': true, 'is-invalid': formulario.get('password')?.errors && formulario.get('password')?.touched}" formControlName="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            <div class="invalid-feedback">
                                <small *ngIf="formulario.get('password')?.errors?.['required'] && formulario.get('password')?.touched">El campo es requerido</small>
                                <small *ngIf="formulario.get('password')?.errors?.['pattern'] && formulario.get('password')?.touched">La contraseña debe contener al menos una mayuscula</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" formArrayName="cursos">
                        <div *ngFor="let curso of cursos.controls; let i = index">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" formControlName="{{ i }}" placeholder="Curso {{ i + 1}}" aria-label="curso" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-success" (click)="agregarCurso()" type="button">Agregar Curso</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit" [disabled]="!formulario.valid">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
