<mat-toolbar color="primary" class="size">
        <div>
            <h1>Proyecto_Angular Schopp</h1>
        </div>
        <!-- <div class="container-fluid">
            <div class="flex">
                <ng-container *ngIf="sesion.sesionActiva ==false">
                    <button mat-raised-button routerLink="authentication">Login</button>
                </ng-container>
                <ng-container *ngIf="sesion.sesionActiva ==true">
                    <button mat-raised-button (click)="logout()">Logout</button>
                </ng-container>
            </div>
        </div> -->
</mat-toolbar>
